body {
  background-color: #121c7a; /* Assuming a dark background */
  color: rgba(255, 255, 255, 0.534);
}

.table-bordered {
  border: 1px solid rgba(255, 255, 255, 0.589);
}

.table-bordered th, .table-bordered td {
  border: 1px solid rgba(9, 5, 241, 0.87);
}

button {
  background-color: #112d69;
  border: none;
}

button:hover {
  background-color: #0c3381;
}

h1 {
  margin-top: 20px;
  color: #d5d81b; /* Adjust this color if needed */
}

.number-pad .display {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.number-pad .buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}